{% extends 'main.html' %} {% block title %} profile Page {% endblock title %} {% block body %}

<style>
  .profile-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
  }
  .section {
    padding: 15px;
  }
</style>

<div class="profile-container">
  <aside class="section topics">
    <h1><b>Filter profiles</b></h1>
    <br />
    <a href="{% url 'profiles' %}">All</a>
    <br />
    {% include 'base/topics_components.html' %}
  </aside>
  <section class="section feeds">
    <span>
      <h1><b>Rooms</b></h1>
      <span><b>{{ rooms_count }} room available</b></span>
      {% if user.username %}
      <p class="float-end">
        <a class="btn btn-dark" href="/create-room">Create New Room</a>
      </p>
      {% endif %}
    </span>
    <br />
    <br />
    <hr />
    {% include 'base/feeds_components.html' %}
  </section>
  <section class="section activities">
      {% include 'base/activities_components.html' %}
  </section>
</div>
{% endblock body %}