{% extends 'main.html' %} {% block title %} Room Page {% endblock title %}
{%block body %}
<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .room-container .sections {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .sections {
    padding: 5px;
    justify-self: center;
  }
  .sections section {
    padding: 5px;
  }
</style>
<div class="room-container">
  <div class="sections">
    <section>
      <h1>Host : {{ room.host }}</h1>
      <h2>Room Name : {{ room.name }}</h2>
      <h3>Room Topic : {{ room.topic }}</h3>
      <hr />
      <div class="chat-box">
        <div class="col-6">
          {% for message in roomMessages %}
          <p class="float-end">
            <a class="btn btn-dark" href="{% url 'update-message' message.id %}"
              >Update</a
            >
            <a class="btn btn-dark" href="{% url 'delete-message' message.id %}"
              >Delete</a
            >
          </p>
          <br />
          <p>
            {{ message.created | timesince }} ago
            <b class="text-end">by {{ message.user }}</b>
          </p>
          <p>{{ message.body }}</p>
          <hr />
          {% endfor %}
          <br />
          <form action="" method="post">
            {% csrf_token %}
            <input
              type="text"
              name="body"
              placeholder=" Add Your Commit Here.. "
            />
          </form>
          <hr />
        </div>
      </div>
    </section>
    <section>
      <h1>Room participants</h1>
      <h3>Total participants : {{ participants_count }}</h3>
      <div class="participants">
        {% for participant in participants %}<br />
        @{{ participant.username }} <br />
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% endblock body %}
